---
interface Props {
  color?: 'yellow' | 'orange' | 'blue';
  class?: string;
}

const { color = 'orange', class: className } = Astro.props;

const colorMap = {
  yellow: 'bg-yellow-200',
  orange: 'bg-orange-200',
  blue:   'bg-blue-200',
};
---
<span class:list={['inline-block -rotate-1 px-1 -mx-0.5 rounded-[0.4em_0.7em_0.5em_0.6em] lowercase', colorMap[color], className]}><slot /></span>
